"*":
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    scrollPastEnd: true
    softTabs: false
    tabType: "hard"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "00080c30-ee2c-427a-92e7-e833419709c1"
  welcome:
    showOnStartup: false
